name: post-to-medium

on:
  push:
    branches:
      - main

jobs:
  post-to-medium:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Create Medium Post
        uses: philips-software/post-to-medium-action@v0.4.1
        with:
          integration_token: "${{ secrets.MEDIUM_ACCESS_TOKEN }}"
          file: "posts/2025/12/30/2025-reflections.md"
          content_format: "markdown"
          notify_followers: "false"
          tags: "proteus,proteusai,ai,onbuddy"
          title: "2025 Reflections"
          license: "all-rights-reserved"
          publish_status: "draft" # other options are public, and unlisted
          publication_name: "nuggs"
